.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100vw;
    overflow: hidden;
}

.title{
    text-align: center;
}

.input_search{
    width: 200px;
}

.container_search{
    margin-top: 10px;
    height: 20px;
    width:900px;
    margin: 0 auto;
}

.container_search > button{
    width: 80px;
    height: 100%;
    margin-bottom: 15px;
}

.containerList{
    width: 90%;
    overflow: auto;
    position: relative;
    margin-top: 20px;
}

.containerListProducts{
    border: var(--border);
    width:900px;
    max-height: 380px;
    margin: 0 auto;
    overflow-y: auto;
    position: sticky;
    top: 0px;
}

.btn{
    width: 150px;
    height: 35px;
    background-color: lightblue;
    border: var(--border);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(114, 199, 224);
}

.titlesProducts{
    background-color: lightblue;
    position: sticky;
    top: 0px;
}

.titlesProducts,
.product{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    border-bottom: var(--border);
}

.item{
    width: calc(100%/6);
    font-size: 14px;
    overflow-wrap: break-word;
    text-transform: capitalize;
}

.containerIcons > i{
    font-size: 20px;
    cursor: pointer;
}

.containerIcons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}